queries/tpch/tpch-type2/4/query*
queries/tpch/tpch-type2/6/query*
queries/tpch/tpch-type2/8/query*
queries/tpch/tpch-type3/tpch-type3a/4_datanodes/6_computenodes/query*
queries/tpch/tpch-type3/tpch-type3a/4_datanodes/8_computenodes/query*
queries/tpch/tpch-type3/tpch-type3a/6_datanodes/8_computenodes/query*
queries/tpch/tpch-type3/tpch-type3b/8_datanodes/4_computenodes/query*
queries/tpch/tpch-type3/tpch-type3b/8_datanodes/6_computenodes/query*
queries/tpch/tpch-type3/tpch-type3b/6_datanodes/4_computenodes/query*